
.mar-0{
  margin: 0 ;
}
// margin-bottom
.mar-b-0{
  margin-bottom: 0;
}
.mar-b-5{
  margin-bottom: 5px;
}
.mar-b-10{
  margin-bottom: 10px;
}
.mar-b-15{
  margin-bottom: 15px;
}
.mar-b-20{
  margin-bottom: 20px;
}
.mar-b-25{
  margin-bottom: 25px;
}
.mar-b-30{
  margin-bottom: 30px;
}
.mar-b-35{
  margin-bottom: 35px;
}
.mar-b-40{
  margin-bottom: 40px;
}
.mar-b-45{
  margin-bottom: 45px;
}
.mar-b-50{
  margin-bottom: 50px;
}
// margin-top
.mar-t-0{
  margin-top: 0;
}
.mar-t-5{
  margin-top: 5px;
}
.mar-t-10{
  margin-top: 10px;
}
.mar-t-15{
  margin-top: 15px;
}
.mar-t-20{
  margin-top: 20px;
}
.mar-t-25{
  margin-top: 25px;
}
.mar-t-30{
  margin-top: 30px;
}
.mar-t-35{
  margin-top: 35px;
}
.mar-t-40{
  margin-top: 40px;
}
.mar-t-45{
  margin-top: 45px;
}
.mar-t-50{
  margin-top: 50px;
}
// margin-left
.mar-l-0{
  margin-left: 0;
}
.mar-l-5{
  margin-left: 5px;
}
.mar-l-10{
  margin-left: 10px;
}
.mar-l-15{
  margin-left: 15px;
}
.mar-l-20{
  margin-left: 20px;
}
.mar-l-25{
  margin-left: 25px;
}
.mar-l-30{
  margin-left: 30px;
}
.mar-l-35{
  margin-left: 35px;
}
.mar-l-40{
  margin-left: 40px;
}
.mar-l-45{
  margin-left: 45px;
}
.mar-l-50{
  margin-left: 50px;
}

// margin-right
.mar-r-0{
  margin-top: 0;
}
.mar-r-5{
  margin-right: 5px;
}
.mar-r-10{
  margin-right: 10px;
}
.mar-r-15{
  margin-right: 15px;
}
.mar-r-20{
  margin-right: 20px;
}
.mar-r-25{
  margin-right: 25px;
}
.mar-r-30{
  margin-right: 30px;
}
.mar-r-35{
  margin-right: 35px;
}
.mar-r-40{
  margin-right: 40px;
}
.mar-r-45{
  margin-right: 45px;
}
.mar-r-50{
  margin-right: 50px;
}


